.navbar-default {
  background-color: #e7e7e7;
  padding: 10px;

  .navbar-collapse {
    font-size: 1.5em;

    @media (min-width: $screen-sm-min) {
      float: left;
    }
  }

  .navbar-brand {
    margin: 0 15px !important;
    padding: 0;

    img {
      height: 100%;
    }

    @media (min-width: $screen-sm-min) {
      height: 80px;
    }
  }

  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      bottom: 0;
      position: absolute;
    }
  }

  #bitcoin-ticker {
    float: right;

    #bitcoin-ticker-list li {
      cursor: pointer;
    }

    #bitcoin-ticker-price {
      font-size: 2em;
      font-weight: bold;

      span {
        font-size: .6em;
        margin-right: 4px;
      }
    }
  }
}
