.panel-heading {
    text-align: center;
    background-color: #ebd000 !important;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
h3.panel-title a {
    border-color: #eb3688;
    color: #141412;
    font-style: normal;
    font-size: 17px;
    font-family: Consolas;
}